{% extends './base.html' %}

{% block content %}

<div class="container p-5">
    <div class="row mb-5">
        <div class="card mx-auto">
            <div class="card-header bg-dark">
                <h4 class="card-title text-center text-white h2">Add new Contact</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                    {% endfor %}
                    <input class="btn btn-primary btn-block" type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}