body {
  font-family: "Roboto", sans-serif;
  /* background-color: #f5f6f5; */
  overflow: hidden;
}

.far {
  color: #1569d9;
}

.navbar-brand {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
}

.card-img-top {
  width: 100px;
}

.index {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #343a40, #000000);
}

.masthead {
  color: white;
  min-height: 30rem;
  padding-top: 0rem;
  width: 100%;
  height: 100%;
  position: absolute;
}

.masthead h1 {
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.footer {
  /* position: fixed;
    bottom: 0;
    left: 0; */
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #343a40;
}
