:root {
  --btn-custom: #A5CBC3;
  --bg-custom: #989DA0;
}


body {
  font-family: "Roboto", sans-serif;
  /* background-color: #1F222C; */
  background: #abbaab;  
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab); 
  background: linear-gradient(to right, #ffffff, #abbaab); 
  overflow-x: hidden;
}

.overflow-custom {
  overflow-y: scroll;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-brand {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
}

.btn-custom {
  background-color: var(--btn-custom);
  border-color: var(--btn-custom);
  color: #353a40;
}

.height-custom {
  height: 71vh;
}

.card-img-top {
  width: 100px;
}

.bg-custom {
  background-color: #20232A;
  /* background-color: #11111B; */
  border: none;
  border-radius: 0 5px 5px 0;
}

.bg-custom:focus {
  background-color: #20232A;
  color: white;
}

.custom-file-label::after {
  background-color: #20232A;
}

.input-group-text {
  border-radius: 5px 0 0 5px;
}

.index {
  background-image: linear-gradient(to bottom, #343a40, #000000);
  position: relative;
  display: block;
  height: 100vh;
}

.masthead {
  color: white;
  background-color: transparent;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.masthead h1 {
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #000000;
}
