{% extends 'contacts/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container p-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header bg-dark text-white text-center">
          <h3>Login</h3>
        </div>
        <i class="far fa-address-card fa-7x card-img-top text-center mt-3"></i>
        <div class="card-body">
          <form method="POST">
            <div class="form-group">
              {{ form|crispy }}
              {% csrf_token %}
            </div>
            <button class="btn btn-primary btn-block" type="submit">
              Sign in
            </button>
            <p class="small mt-2 text-center btn-block">
              New to Contact App?
              <a href="register">Sign up!</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}