{% extends 'contacts/base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card bg-dark shadow-sm p-3 mb-5 rounded">
        <div class="card-header bg-dark text-white text-center">
          <h3 class="h2">Login Account</h3>
        </div>
        <i class="far fa-comment-alt fa-4x text-center mt-2"></i>
        <div class="card-body mt-2">
          <form method="POST">
            <div class="form-group">
              
              <div class="form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-custom" id="basic-addon1"><i class="fas fa-user"></i></span>
                  {{ form.username }}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-custom" id="basic-addon1"><i class="fas fa-key"></i></span>
                  {{ form.password }}
                </div>
              </div>
              {% csrf_token %}
            </div>
            <button class="btn btn-success btn-block" type="submit">
              Sign in
            </button>
            <p class="small mt-2 text-center btn-block text-white">
              New to Contact App?
              <a class="text-success" href="register">Sign up!</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}